body{ 
    background-color: rgb(0, 119, 255); 
} 
div{ 
    background-color: rgb(255, 255, 255); 
    width: 700px; 
    height: 400px; 
    padding:50px; 
    margin-left:500px ; 
    border: 10px; 
    border-radius: 10px; 
} 

ul li { 
    color: rgb(0, 0, 0); 
    font-size: 25px;         
    margin-top:10px ; 
    text-align: center; 
} 
#form button{ 
    border: none; 
    border-radius: 10px; 
    width: 85px; 
    height: 40px; 
    background-color: rgb(52, 76, 212); 
    color: white; 
    font-size: 20px ; 
} 
#form input{ 
    width: 400px;   
    border-radius: 10px;  
    height: 40px; 
} 
ul {  
    margin: 0;  
    padding: 0;  
}  
    

    li{ 
        display: flex; 
        justify-content: space-around; 
        background-color: rgb(188, 234, 255); 
        border-radius: 10px; 
        border: 10px ; 
        margin: 10px; 
 
    } 
ul h2 {  
    cursor: pointer;  
    position: relative;  
    font-size: 25px;  
    transition: 0.2s;  
    list-style-type: none;  
    }  
 
    ul img{ 
    width: 55px; 
    height: 50px; 
    background-color: rgb(52, 76, 212); 
    border-radius: 10px ; 
    margin-top: 10px; 
    }